@model GroceryList.Models.IngredientModel
<tr>
  <td>
    @Model.Name
  </td>
  <td>
    @Model.UsAmount
  </td>
  <td>
    @Model.UsUnit
  </td>
  <td>
    @Model.MetricAmount
  </td>
  <td>
    @Model.MetricUnit
  </td>
</tr>
