<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
  <nav>
    <ul>
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("Display", "Index", "Display")</li>
      <li>@Html.ActionLink("Show Lands", "Lands", "Display")</li>
    </ul>
  </nav>
  @RenderBody()
</body>
</html>
