<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
  <nav>
    <ul>
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("Process", "Index", "Process")</li>
      <li>@Html.ActionLink("Detect Canonical Images", "DetectCanonical", "Process")</li>
      <li>@Html.ActionLink("Assign Canonical Image", "AssignCanonical", "Process")</li>
      <li>@Html.ActionLink("Judge Matchability", "JudgeMatchable", "Process")</li>
      <li>@Html.ActionLink("Detect Cutout Image", "NeedCutout", "Process")</li>
      <li>@Html.ActionLink("Generate Matches", "GenerateMatches", "Process")</li>
      <li>@Html.ActionLink("Judge Match", "JudgeMatch", "Process")</li>
    </ul>
  </nav>
  @RenderBody()
</body>
</html>
