<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
  <nav>
    <ul>
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("Update", "Index", "Update")</li>
      <li>@Html.ActionLink("Create Database", "CreateDatabase", "Update")</li>
      <li>@Html.ActionLink("Add Set", "AddSet", "Update")</li>
      <li>@Html.ActionLink("Assign Image Filename", "AssignFilename", "Update")</li>
    </ul>
  </nav>
  @RenderBody()
</body>
</html>
