@model GroceryList.Models.RecipeModel

@{
  ViewBag.Title = "Create A New Recipe";
}

@section headerScripts {
  <script src="~/Scripts/jquery-3.4.0.min.js"></script>
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/Scripts/dynamic-form.js"></script>
}

<h2>@ViewBag.Title</h2>

@using ( Html.BeginForm("Create", "Recipe", FormMethod.Post, new { id = "create-recipe" }) )
{
  <div>
    @Html.LabelFor(recipe => recipe.Name)
    <br>
    @Html.TextBoxFor(recipe => recipe.Name)
    @Html.ValidationMessageFor(recipe => recipe.Name)
  </div>
  <div>
    <br>
    @Html.LabelFor(recipe => recipe.Ingredients)
    <button type="button" onclick="appendFormEntry('ingredients', 'ingredient')">Add Ingredient</button>
    <br>
    <table>
      <thead>
        <tr>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].Name)
          </th>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].Amount)
          </th>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].Unit)
          </th>
        </tr>
      </thead>
      <tbody id="ingredients">
        @Html.EditorFor(recipe => recipe.Ingredients[0])
      </tbody>
    </table>
  </div>
  <div>
    @Html.LabelFor(recipe => recipe.PDF)
    <br>
    @Html.TextBoxFor(recipe => recipe.PDF)
  </div>
  <input type="submit" value="Create Recipe">
}

<script>
  // fix dynamic indexes before submitting form
  $('#create-recipe').submit(function(){
    updateEntryIndex('ingredients', 'ingredient');
    return(true);
  });
</script>
