@model GroceryList.Models.RecipeModel

@{
  ViewBag.Title = "Edit " + Model.Name;
}

<h2>@ViewBag.Title: (@Html.ActionLink("View Recipe", "Show", "Recipe", new { @name = @Model.Name }, null))</h2>

@using ( Html.BeginForm() )
{
  <div>
    @Html.LabelFor(recipe => recipe.Name)
    <br>
    @Html.TextBoxFor(recipe => recipe.Name)
  </div>
  <div>
    <br>
    @Html.LabelFor(recipe => recipe.Ingredients)
    <button>Add Ingredient</button>
    <br>
    <table>
      <thead>
        <tr>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].Name)
          </th>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].Amount)
          </th>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].Unit)
          </th>
        </tr>
      </thead>
      <tbody>
        @Html.EditorFor(recipe => recipe.Ingredients)
      </tbody>
    </table>
  </div>
  <div>
    @Html.LabelFor(recipe => recipe.PDF)
    <br>
    @Html.TextBoxFor(recipe => recipe.PDF)
  </div>
  <input type="submit" value="Update Recipe">
}
