@model GroceryList.Models.RecipeModel

@{
  ViewBag.Title = "Edit " + Model.Name;
}

@section headerScripts {
  <script src="~/Scripts/jquery-3.4.0.min.js"></script>
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/Scripts/dynamic-form.js"></script>
}

<h2>@ViewBag.Title: (@Html.ActionLink("View Recipe", "Show", "Recipe", new { @name = @Model.Name }, null))</h2>

@using ( Html.BeginForm("Edit", "Recipe", FormMethod.Post, new { id = "edit-recipe" }) )
{
  @Html.Hidden("Id")
  <div>
    @Html.LabelFor(recipe => recipe.Name)
    <br>
    @Html.TextBoxFor(recipe => recipe.Name)
    @Html.ValidationMessageFor(recipe => recipe.Name)
  </div>
  <div>
    <br>
    @Html.LabelFor(recipe => recipe.Ingredients)
    <button type="button" onclick="appendFormEntry('ingredients', 'ingredient')">Add Ingredient</button>
    <br>
    <table>
      <thead>
        <tr>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].Name)
          </th>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].DisplayAmount)
          </th>
          <th>
            @Html.LabelFor(recipe => recipe.Ingredients[0].DisplayUnit)
          </th>
        </tr>
      </thead>
      <tbody id="ingredients">
        @Html.EditorFor(recipe => recipe.Ingredients)
      </tbody>
    </table>
  </div>
  <div>
    @Html.LabelFor(recipe => recipe.PDF)
    <br>
    @Html.TextBoxFor(recipe => recipe.PDF)
  </div>
  <input type="submit" value="Update Recipe">
}

<script>
  // fix dynamic indexes before submitting form
  $('#edit-recipe').submit(function(){
    updateEntryIndex('ingredients', 'ingredient');
    return(true);
  });
</script>
