@model GroceryList.Models.IngredientModel
<tr class="ingredient">
  <td>
    @Html.TextBoxFor(ingredient => ingredient.Name)
    @Html.ValidationMessageFor(ingredient => ingredient.Name)
  </td>
  <td>
    @Html.TextBoxFor(ingredient => ingredient.DisplayAmount)
    @Html.ValidationMessageFor(ingredient => ingredient.DisplayAmount)
  </td>
  <td>
    @Html.EnumDropDownListFor(
      ingredient => ingredient.DisplayUnit,
      "Select Unit"
    )
    @Html.ValidationMessageFor(ingredient => ingredient.DisplayUnit)
  </td>
  <td>
    <button class="remove" type="button" onclick="removeFormEntry(this, 'ingredient')">Remove Ingredient</button>
  </td>
</tr>
