@model IEnumerable<CardMatchLibrary.Models.ReleaseModel>

@{
    ViewBag.Title = "Assign Canonical Image";
    Layout = "~/Views/Shared/_Process.cshtml";
}

<h2>Assign Canonical Image</h2>
@if (Model.Count() > 0){
  <style>
  .frame2003 {
    width: 630px;
    height: 461px;
    background-repeat: no-repeat;
    background-position: -57px -117px;
    zoom: 40%;
  }
  .frame2015 {
    width: 630px;
    height: 461px;
    background-repeat: no-repeat;
    background-position: -57px -117px;
    zoom: 40%;
  }
  </style>
  using (Html.BeginForm())
  {
    <div>
    @Html.Label("Id:")
    @Html.TextBox("id", @Model.Where(m => m.canonicalImageId == -1).Select(m => m.id).First())
    </div>

    <div>
      @foreach (var m in Model.OrderBy(m => m.canonicalImageId))
      {
        string unassigned = @m.canonicalImageId == -1 ? "background-color: Red;" : "";
        string imageSrc = @Url.Content(@m.GetPath()).Replace("'", "\\'").Replace("\"", "\\\"");
        string frameType = "frame" + m.frame;
        
        <div style="float:left;@unassigned">
          <label>
            @Html.RadioButton("canonicalImageId", m.id)
            <div class="@frameType" style="background-image: url('@imageSrc');"></div>
          </label>
        </div>
      }
    </div>
    
    <input type="submit" value="Assign Canonical" />
  }
} else {
  <p>All Canonical Images Assigned</p>
}